[submodule "src/ThirdParty/SDL"]
	path = src/ThirdParty/SDL
	url = https://github.com/ClxS/SDL
[submodule "src/ThirdParty/SDL_image"]
	path = src/ThirdParty/SDL_image
	url = https://github.com/ClxS/SDL_image.git
[submodule "src/ThirdParty/imgui"]
	path = src/ThirdParty/imgui
	url = https://github.com/ClxS/imgui.git
[submodule "src/ThirdParty/zlib"]
	path = src/ThirdParty/zlib
	url = https://github.com/ClxS/zlib.git
[submodule "src/ThirdParty/SDL_mixer"]
	path = src/ThirdParty/SDL_mixer
	url = https://github.com/ClxS/SDL_mixer.git
[submodule "src/ThirdParty/tomlcpp"]
	path = src/ThirdParty/tomlcpp
	url = https://github.com/ClxS/tomlcpp
[submodule "src/ThirdParty/premake-core"]
	path = src/ThirdParty/premake-core
	url = https://github.com/ClxS/premake-core.git
[submodule "src/ThirdParty/bgfx"]
	path = src/ThirdParty/bgfx
	url = https://github.com/ClxS/bgfx.git
[submodule "src/ThirdParty/eigen"]
	path = src/ThirdParty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/ThirdParty/RmlUi"]
	path = src/ThirdParty/RmlUi
	url = https://github.com/ClxS/RmlUi
[submodule "src/ThirdParty/freetype"]
	path = src/ThirdParty/freetype
	url = https://github.com/ClxS/freetype
[submodule "src/ThirdParty/bx"]
	path = src/ThirdParty/bx
	url = https://github.com/bkaradzic/bx
[submodule "src/ThirdParty/bimg"]
	path = src/ThirdParty/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "src/ThirdParty/googletest"]
	path = src/ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "src/ThirdParty/benchmark"]
	path = src/ThirdParty/benchmark
	url = https://github.com/google/benchmark
[submodule "src/ThirdParty/optick"]
	path = src/ThirdParty/optick
	url = https://github.com/ClxS/optick
[submodule "src/ThirdParty/fixed_string"]
	path = src/ThirdParty/fixed_string
	url = https://github.com/unterumarmung/fixed_string
[submodule "data/sdlPrivate"]
	path = data/sdlPrivate
	url = https://github.com/ClxS/ConveyorPlayground_Private.git
[submodule "src/ThirdParty/fmt"]
	path = src/ThirdParty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "docs"]
	path = docs
	url = https://github.com/ClxS/ConveyorPlayground_Documentation.git
