[submodule "third_party/SDL"]
	path = src/ThirdParty/SDL
	url = https://github.com/ClxS/SDL
[submodule "third_party/SDL_image"]
	path = src/ThirdParty/SDL_image
	url = https://github.com/ClxS/SDL_image.git
[submodule "third_party/imgui"]
	path = src/ThirdParty/imgui
	url = https://github.com/ClxS/imgui.git
[submodule "third_party/zlib"]
	path = src/ThirdParty/zlib
	url = https://github.com/ClxS/zlib.git
[submodule "third_party/SDL_mixer"]
	path = src/ThirdParty/SDL_mixer
	url = https://github.com/ClxS/SDL_mixer.git
[submodule "third_party/tomlcpp"]
	path = src/ThirdParty/tomlcpp
	url = https://github.com/ClxS/tomlcpp
[submodule "third_party/premake-core"]
	path = src/ThirdParty/premake-core
	url = https://github.com/ClxS/premake-core.git
