[submodule "src/ThirdParty/SDL"]
	path = src/ThirdParty/SDL
	url = https://github.com/ClxS/SDL
[submodule "src/ThirdParty/SDL_image"]
	path = src/ThirdParty/SDL_image
	url = https://github.com/ClxS/SDL_image.git
[submodule "src/ThirdParty/imgui"]
	path = src/ThirdParty/imgui
	url = https://github.com/ClxS/imgui.git
[submodule "src/ThirdParty/zlib"]
	path = src/ThirdParty/zlib
	url = https://github.com/ClxS/zlib.git
[submodule "src/ThirdParty/SDL_mixer"]
	path = src/ThirdParty/SDL_mixer
	url = https://github.com/ClxS/SDL_mixer.git
[submodule "src/ThirdParty/tomlcpp"]
	path = src/ThirdParty/tomlcpp
	url = https://github.com/ClxS/tomlcpp
[submodule "src/ThirdParty/premake-core"]
	path = src/ThirdParty/premake-core
	url = https://github.com/ClxS/premake-core.git
[submodule "src/ThirdParty/bgfx"]
	path = src/ThirdParty/bgfx
	url = https://github.com/ClxS/bgfx.git
[submodule "src/ThirdParty/eigen"]
	path = src/ThirdParty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/ThirdParty/RmlUi"]
	path = src/ThirdParty/RmlUi
	url = https://github.com/ClxS/RmlUi
